*{
  margin: 0;
  padding: 0;
}

main{
  max-width: 1200px;
  margin: 0 auto;
}

/* This selector is in control of the Header component */
.header-component{
  .title{
    border: solid blue 1px;
    padding: 50px 0px 20px 0px;
    text-align: center;
  }

  .nav-bar{
    border: solid red 1px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 10px 0px 10px 0px;

    div{
      border: solid green 1px;
      margin: 0px 10px 0px 10px;
    }
  }
}
