@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  a{
    text-decoration: none;
    color: inherit;
  }
  h1,h2,h3,h4{
    margin: 0;
    padding: 0;
  }
}

.layout{
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
}

/* This selector is in control of the Header component */
.header-component{
  .header-title{
    text-align: center;
    padding: 30px 0 0 0;
    
    h4{
      color: rgb(107, 107, 107);
    }
  }

  .page-links{
    text-align: center;
    padding: 20px 0 20px 0;
    ul{
      width: fit-content;
      display: inline;
      margin: 0 5px 0 5px;
    }
  }
}

/* This selector is in control of the demoreel component */
.demoreel{
  display: grid;
  justify-content: center;
  .video-player{
    aspect-ratio: 16/9;
    max-width: 90vw;
    width: 800px;
  }
}

/* This selector is in control of the Footer component */
.footer-component{
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  
  .reach-out{
    justify-self: center;
  }
  .contact-links{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 100%;

    a{
      width: 36px;
      height: 36px;
      margin: 20px 10px 20px 10px;
      .contact-icons{
        color: black;
        width: 36px;
        height: 36px;
      }
    }
  }
}

/* this is the selector for the projects page components */
.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 15px;
  row-gap: 15px;
  margin: 50px 20px 80px 20px;
  .image-wrapper{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
